.subheading {
    /* height: 250px; */
    padding: 5% 7% 5% 7%;
}

.subheading-content {
   
}

.subheading-title {
    padding-bottom: 2%;
    font-weight: 900;
    font-size: 150%
}

.subheading-articles {
    display: flex;
    flex-direction: row;
}

.subheading-content {
    flex: 1;
    font-weight: 300;
    font-size: 80%;
    padding-right: 5%;
}

.subheading-subheading {
    padding-bottom: 3%;
    font-weight: 600;
    font-size: 120%;
}